layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left  "{mode}#[fg=#aaaaaa,bg=#1a1a1a] {session}"
        format_right "#[fg=#555555,bg=#1a1a1a]{command_host}{datetime}"
        format_center ""
        format_space "#[bg=#1a1a1a]"

        mode_locked  "#[bg=#1a1a1a]"
        mode_normal  "#[fg=#ffffff,bg=#005fff,bold] NORMAL #[bg=#1a1a1a] "
        mode_tmux    "#[fg=#ffffff,bg=#ff8700,bold] PREFIX #[bg=#1a1a1a] "
        mode_resize  "#[fg=#ffffff,bg=#ff0000,bold] RESIZE #[bg=#1a1a1a] "
        mode_tab     "#[fg=#ffffff,bg=#00af00,bold] TAB #[bg=#1a1a1a] "
        mode_move    "#[fg=#ffffff,bg=#af00ff,bold] MOVE #[bg=#1a1a1a] "
        mode_default_to_mode "normal"

        command_host_command  "hostname -s"
        command_host_format   "#[fg=#888888,bg=#1a1a1a]{stdout} #[fg=#555555]| "
        command_host_interval "60"
        command_host_rendermode "static"

        datetime        "#[fg=#888888,bg=#1a1a1a]{format} "
        datetime_format "%m/%d %H:%M"
        datetime_timezone "Asia/Tokyo"

      }
    }
  }
}
